# Add files here to ignore them from prettier formatting
/dist
**/dist
/coverage
**/coverage
/.nx/cache
/.nx/workspace-data
**/out-tsc
**/*.d.ts
**/openapi.json
apps/demo-scaffold-e2e/test-output/
**/test-report.html
test-report.html